*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#eixoX, #eixoY{
    width: 300px;
}



#tela{
    width: 1000px;
    height: 1000px;
    border: 2px black solid;
    position: relative;
}

#player{
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 30px;
    height: 30px;
    background-color: black;
}