*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --font-cursive: 'Dancing Script', cursive;
    --cor-tiulo: #daa520;
    --cor-background: ;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

body{
    background-color: rgb(230, 230, 230);
}

header h1{
    font-size: 60px;
    font-family: var(--font-cursive);
    color: var(--cor-tiulo);
    text-align: center;
}
header{
    margin-top: 50px;
}

main{
    height: auto;
    width: clamp(300px, 70vw, 1200px);
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.formulario{
    background-color: white;
    width: 100%;
    text-align: center;
}

form{
    flex-direction: column;
    align-items: center;
}
#new-ask-label{
    text-align: left;
    flex-direction: column;
    align-items: center;
}
#new-ask{
    height: 30px;
}

#input-ask{
    width: 70%;
    height: 40px;
}

ul{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li{
    margin: 10px;
    width: 100%;
    background-color: white;
    list-style: none;
    justify-content: center;
}

.ask{
    width: 100%;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    min-height: 50px;
    position: relative;
}

.ask > h1{
    width: 85%;
}

.open-close-box{
    display: none;
}

.open-close-label{
    width: 40px;
    height: 40px;
    background-image: url(imgs/OpenCloseDiv.svg);
    background-size: contain;
    position: absolute;
    top: 5px;
    right: 0px;
    transition-duration: 0.7s;
}

.open-close-box:checked+.open-close-label{
    transform: rotate(45deg);
    transition-duration: 0.7s;
}

.open-close-box:checked~.answer{
    display: block;
    transition: 1s;
}

.answer{
    display: none;
    width: 100%;
    margin: 10px;
}