.cardProduct{
    width: 400px;
    height: 360px;
    border: 2px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#header-product{
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

#header-product span{
    display: block;
    font-size: 25px;
    padding: 10px;
}

#header-product h2{
    padding: 10px;
}

.cardProductLabel{
    width: 80%;
    padding: 7px;
}

.cardProductLabel input{
    height: 28px;
}

.productButtons{
    margin: 10px ;
    height: 30px;
}

.productButtons input{
    height: 28px;
    margin: 0 10px;
}

.productButtons > div > input{
    margin: 0 5px;
    width: 30px;
}

.productButtons > input{
    width: 70px;
}


