*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.flex{
    display: flex;
}

.center{
    align-items: center;
    justify-content: center;
}

main{
    width: clamp(300px, 80vw, 1200px);
    flex-direction: column;
    margin: auto;
}

h1{
    text-align: center;
    margin-top: 20px;
}

#input{
    margin-top: 20px;
}


#open-close{
    display: none;
}

#input-task{
    height: 30px;
    transform: translateX(40%);
    filter: opacity(0%);
    transition-duration: 0.5s;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 16px;
}

.open-close-label{
    border-radius: 100%;
}

.open-close-svg{
    font-size: 38px;
    font-weight: 600;
    color: green;
    transition-duration: 0.6s;
    z-index: 1;
}
.open-close-svg:hover{
    transform: scale(1.05);
    text-shadow: 0px 0px 5px green;
}

#open-close:checked+#input-task{
    width: auto;
    border: 1.5px solid black;
    transform: translateX(0%);
    filter: opacity(100%);
    transition-duration: 0.7s;
}

#open-close:checked~.open-close-label>.open-close-svg{
    color: red;
    transform: rotate(135deg);
    transition-duration: 1s;
}

#open-close:checked~.open-close-label>.open-close-svg:hover{
    text-shadow: 0px 0px 5px red;
}

#add{
    font-size: 33px;
    font-weight: 1000;
    color: green;
    margin-left: 5px;
    filter: opacity(0%);
    transform: translateX(100%);
    transition-duration: 0.5s;
    z-index: 0;
}

#add:hover{
    transform: scale(1.1);
    text-shadow: 0px 0px 5px green;
}

#open-close:checked~#add{
    filter: opacity(100%);
    transform: translateX(0%);
    transition-duration: 0.5s;
}

#tasks-container{
    margin-top: 20px; 
    flex-direction: column;  
}

ul{
    margin-top: 10px;
    list-style: none; 
    width: clamp(300px, 100%, 500px);
}

.task-item{
    border: 1.5px solid black;
    border-radius: 22rem;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    margin: 20px 0px;
}

.task-item p{
    font-size: 18px;
    padding-left: 10px;
    width: 75%;
}
.task-item div{
    padding-right: 10px;
}

.task-item .icon-item{
    transition-duration: 0.5s;
    font-size: 27px;
    margin: 0 10px;
}

#trash:hover{
    transition-duration: 0.5s;
    color: red;
    text-shadow: 0px 0px 5px red;
}

#mark-ok:hover{
    transition-duration: 0.5s;
    color: green;
    text-shadow: 0px 0px 5px green;
}

.done{
    background-color: #689f38;
    color: white;
    border: 1px #1b5e20 solid;
}